doctype html
html
	head
		title «Связной»
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width")
		link(rel='stylesheet', type='text/css', href='css/style.css')
	body#body--gallery
		include includes/header
		include includes/gallery-header
		include includes/gallery
		include includes/footer

		+header()
		.container-lg
			+gallery-header()
			+gallery()
		+footer()