doctype html
html
	head
		title «Связной»
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width")
		link(rel='stylesheet', type='text/css', href='css/style.css')
	body
		include includes/header
		include includes/project
		include includes/footer

		+header()
		+projet()
		+footer()