.features {

	&__item {

		@include media($sm) {
			margin-bottom: 25px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__title {
		margin-bottom: 16px;
		@include font-srfc-bold();
		font-size: 82px;
		line-height: 1em;
		color: #fff;
		letter-spacing: -0.045em;
		white-space: nowrap;

		@include media($lg) {
			margin-bottom: 13px;
		}

		@include media($md) {
			margin-bottom: 9px;
			font-size: 65px;
		}

		@include media($sm) {
			margin-bottom: 15px;
			font-size: 45px;
			line-height: 41px;
			white-space: nowrap;
		}
	}

	&__text {
		@include font-srf-reg();
		font-size: 16px;
		line-height: 19 / 16 * 1em;
		color: #d3d3d3;

		@include media($lg) {
			font-size: 12px;
			line-height: 14px;
		}

		@include media($md) {
			font-size: 16px;
			line-height: 19 / 16 * 1em;
		}
	}
}