.infobox {
	width: 312px;
	height: 351px;
	background: #e9e9e9;
	font-size: 0;
	position: relative;

	@include media($sm) {
		width: 272px;
		height: 306px;
	}

	&:after {
		content: '';
		position: absolute;
		top: 100%;
		left: 0;
		width: 0;
		height: 0;
		border-top: 13px solid #90c74b;
		border-left: 39px solid #90c74b;
		border-right: 39px solid transparent;
		border-bottom: 13px solid transparent;

		@include media($sm) {
			border: none;
			left: 50%;
			margin-left: -$connector-width / 2;
			@include sprite($connector);
		}
	}

	&__city {
		height: 121px;
		display: flex;
		justify-content: center;
		align-items: center;
		@include font-srf-reg();
		font-size: 27px;
		line-height: 1.2em;
		color: #454545;

		@include media($sm) {
			height: 105px;
			font-size: 24px;
		}
	}

	&__distance {
		display: inline-block;
		vertical-align: top;
		width: 50%;
		height: 115px;
		padding-top: 18px;
		box-sizing: border-box;
		background: #faad3d;
		@include font-srf-reg();
		font-size: 15px;
		line-height: 1em;
		color: #454545;
		text-align: center;

		@include media($sm) {
			height: 101px;
			padding-top: 15px;
			font-size: 13px;
		}

		span {
			margin-top: 14px;
			display: block;
			@include font-srf-num();
			font-size: 40px;
			line-height: 1em;

			@include media($sm) {
				margin-top: 12px;
				font-size: 35px;
			}
		}
	}

	&__likes {
		display: inline-block;
		vertical-align: top;
		width: 50%;
		height: 115px;
		padding-top: 62px;
		background: #90c74b;
		@include font-srf-num();
		font-size: 40px;
		line-height: 1em;
		color: #fff;
		text-align: center;
		position: relative;

		@include media($sm) {
			padding-top: 54px;
			height: 101px;
			font-size: 35px;
		}

		&:before {
			content: '';
			position: absolute;
			top: 25px;
			left: 50%;
			margin-left: -$heart-width / 2;
			@include sprite($heart);

			@include media($sm) {
				top: 22px;
				margin-left: -$heart-sm-width / 2;
				@include sprite($heart-sm);
			}
		}
	}

	&__photos {
		display: inline-flex;
		vertical-align: top;
		align-items: center;
		justify-content: center;
		width: 50%;
		height: 115px;
		background: #90c74b;
		cursor: pointer;

		@include media($sm) {
			height: 100px;
		}

		&:before {
			content: '';
			display: block;
			@include sprite($photos);
		}
	}

	&__link {
		display: inline-flex;
		vertical-align: top;
		align-items: center;
		justify-content: center;
		width: 50%;
		height: 115px;
		background: #8f61a9;
		cursor: pointer;

		@include media($sm) {
			height: 100px;
		}

		&:before {
			content: '';
			display: block;
			@include sprite($link);
		}
	}
}