.rating {
  max-width: 1920px;
  width: 100%;
  min-width: 1024px;
  margin: 0 auto;
  table-layout: fixed;

	&-wrapper {

    @include media($sm) {
      width: 100%;
      overflow: auto;
    }
	}
  
  tr {
    
    &:nth-child(odd) {
      background: #F7F7F7;
    }

    &:first-child {
      background: transparent;
    }
  }

  th {
    vertical-align: top;
    height: 55px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(149,152,154,.39);
    @include font-srf-reg();
    font-size: 14px;
    line-height: 17 / 14 * 1em;
    color: #939393;
    text-align: left;

    &:nth-child(6) {
      padding-right: 0;
      background: #F89B24;
      color: #000;
      text-align: center;
    }

    &:nth-child(1) {
      padding-left: 30px;
      padding-right: 10px;
      width: 88 / 1024 * 100%;
    }

    &:nth-child(2) {
      padding-right: 10px;
      width: 177 / 1024 * 100%;
    }

    &:nth-child(3) {
      padding-right: 10px;
      width: 116 / 1024 * 100%;
    }

    &:nth-child(4) {
      padding-right: 10px;
      width: 168 / 1024 * 100%;
    }

    &:nth-child(5) {
      padding-right: 10px;
      width: 117 / 1024 * 100%;
    }

    &:nth-child(6) {
      padding-right: 0;
      width: 68 / 1024 * 100%;
    }

    &:nth-child(7) {
      padding-left: 34px;
      width: 124 / 1024 * 100%;
    }

    &:nth-child(8) {
      padding-left: 10px;
      width: 104 / 1024 * 100%;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  td {
    vertical-align: middle;
    padding: 10px 10px 10px 0;
    @include font-srfc-bold();
    font-size: 18px;
    line-height: 22 / 18 * 1em;

    &:nth-child(1) {
      padding-left: 42px;
      padding-right: 10px;
      width: 88 / 1024 * 100%;
    }

    &:nth-child(2) {
      padding-right: 10px;
      width: 177 / 1024 * 100%;
      @include font-srfc-bold();
      font-size: 18px;
      line-height: 22 / 18 * 1em;
      word-wrap: break-word;
    }

    &:nth-child(3) {
      padding-right: 10px;
      width: 116 / 1024 * 100%;
      @include font-srfc-reg();
      font-size: 18px;
      line-height: 22 / 18 * 1em;
      word-wrap: break-word;
    }

    &:nth-child(4) {
      padding-right: 10px;
      width: 168 / 1024 * 100%;
      @include font-srfc-reg();
      font-size: 18px;
      line-height: 22 / 18 * 1em;
      word-wrap: break-word;
    }

    &:nth-child(5) {
      padding-right: 10px;
      width: 117 / 1024 * 100%;
    }

    &:nth-child(6) {
      padding-right: 0;
      width: 68 / 1024 * 100%;
      background: #F89B24;
      text-align: center;
    }

    &:nth-child(7) {
      padding-left: 34px;
      width: 124 / 1024 * 100%;
    }

    &:nth-child(8) {
      padding-left: 10px;
      width: 104 / 1024 * 100%;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  &__image {
    height: 76px;

    a{
      display: block;
      height: 100%;

      &:focus {
        border: none;
        outline: none;
      }
    }

    img {
      max-height: 100%;
      max-width: 100%;
    }
  }
}