mixin gallery-header(title)
    header.gallery-header(class=attributes.class ? attributes.class : "" + ' #{title != "Нижний Новгород" ? "_wide" : ""}').clearfix
        .gallery-header__title!= title
        if title == 'Нижний Новгород'
            .gallery-header__buttons
                a(href='#').gallery-header__add
                    img(src='../src/img/svg/add-photo.svg')
                button.gallery-header__grid
                    img(src='../src/img/svg/grid.svg')
            .gallery-header__likes
                img(src='../src/img/svg/heart.svg')
                span!= 500