mixin gallery-header()
    header.gallery-header.clearfix
        .gallery-header__city Нижний Новгород
        .gallery-header__buttons
            a(href='#').gallery-header__add
                img(src='../src/img/svg/add-photo.svg')
            button.gallery-header__grid
                img(src='../src/img/svg/grid.svg')
        .gallery-header__likes
            img(src='../src/img/svg/heart.svg')
            span!= 500