mixin header()
	.header
		.header__container
			.header__logo
				.header__logo-wrapper
					img(src="../src/img/svg/logo.svg")
					|Марафон
			nav.nav.header__nav.js-nav
				ul.nav__list
					each val, i in ["О проекте", "Забег", "Рейтинг", "Фотографии"]
						li.nav__item(class='#{i == 0 ? "active" : ""}')
							a(href='#').nav__link!= val
				.nav__tag #марафонсвязного
			.header__hamburger.js-hamburger
				span