mixin map()
	.map
		#map.map__area

	template(id='infobox-template', style='dispaly:none;')
		.infobox
			.infobox__city Набережные Челны
			.infobox__distance
				|Пройденная дистанция, км:
				span 15
			.infobox__likes 150
			.infobox__photos
			.infobox__link

	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBneFWpoU3aGvIOZu-Le2IK-GFPh3dY0IQ")
	script(src='js/infobox_packed.js')
	//script(src='js/jquery-3.0.0.min.js')
	script(src='js/script.js')