mixin progress()
	.progress
		.progress__container
			.progress__start 0
			.progress__end 6700
			.progress__bar
				.progress__line(style='width: 100%;')
					.progress__info
						span.js-progress-info 3000
