include features

mixin projet()
	.project
		.project__wrapper
			.container
				h2.project__title следи за марфоном <span>связного</span>!
				-
					var list = [
						{
							"title": "2 дня",
							"text": "23 апреля наша компания будет отмечать большой праздник — день бренда «Связной»! Нам есть чем гордиться, а сколько всего еще впереди! И что самое приятное — прямо сегодня именно вы влияете на будущее компании."
						},
						{
							"title": "6700 км",
							"text": "Наша общая цель — 6 700 км, ведь именно такое расстояние между самой восточной и западной торговой точкой нашей сети. <br>Только все вместе мы сможем пробежать от Калининграда до Чукотки и поставить новый корпоративный рекорд!"
						},
						{
							"title": "1000 городов",
							"text": "Почти в каждом городе нашей страны есть салон «Связной». Какой он? Поделись с коллегами твоим «Связным»: выложи фото и получай лайки. Какой город самый-самый?)"
						}
					]
				+features(list).project__features
				footer.project__footer.columns
					.columns__item-4
						a(href='#').btn-border.project__link
							span Забег
					.columns__item-2
						.project__tag #марафонсвязного
						.project__tag #связнойвперед
